.Preview {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease 0.3s;
}

.Preview.is-3d.is-loaded {
  cursor: grab;
}

.Preview canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0;
  transition: opacity ease 0.3s;
}

.Preview canvas.is-visible {
  opacity: 1;
}

.Preview.is-3d.is-dragging {
  cursor: grabbing;
}

.Preview.is-3d.has-error {
  opacity: 1;
  cursor: default;
}

.Preview .thumbnail {
  max-height: 256px;
  margin: auto;
  opacity: 0;
  transition: opacity ease 0.3s;
}

.Preview .thumbnail.is-visible {
  opacity: 1;
}

.Preview .error {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.Preview .ui.loader:before {
  border-color: transparent !important;
}

#babylonjsLoadingDiv {
  display: none !important;
}

.Preview.no-fade-effect,
.Preview.no-fade-effect canvas,
.Preview.no-fade-effect .thumbnail {
  transition: none;
}



#controlPanel {
    position: absolute;
    height: 100px;
    bottom: 0px;
    width: 220px;
    left: 50%;
    margin-left: -110px;
    z-index: 10;
    transition: transform 0.25s ease-in-out;
    transform: translateY(100px);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -webkit-transform: translateY(100px);
}

#slideInDiv {
  position: fixed;
  top: 0;
  left: -250px; /* Start off-screen */
  width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: left 0.5s ease-in-out; /* Smooth slide-in effect */
}

#slideInDiv.slide-in {
  left: 0; /* Move it into the viewport */
}

/* State when the div slides out (hidden) */
#slideInDiv.slide-out {
  left: -300px; /* Move it off-screen */
}
